<div id="static_pages_index" class="page_wrapper">
  <div id="slides">
    <div id="slides-bg">
      <div id="slides-bg-lt"></div>
      <div id="slides-bg-rb"></div>
      <div id="slides-bg-rt"></div>
      <div id="slides-bg-lb"></div>
    </div>
    <div id="slides-arrow-l">
      <%= link_to image_tag('arrow-l.png', id: 'slides-arrow-l-button'), '#' %>
    </div>
    <div id="slides-view">
      <%= image_tag('3.jpg', id: 'slides-img') %>
    </div>
    <div id="slides-arrow-r">
      <%= link_to image_tag('arrow-r.png', id: 'slides-arrow-r-button'), '#' %>
    </div>
  </div><!-- FIXME ugly I know...
  --><div id="learn-more">
    <div id="learn-more-1" class="learn-more-item">
      <%= link_to image_tag('photo-yellow.png', id: 'learn-more-1-img', class: 'learn-more-img'), '#' %>
      <%= link_to '关注失智', '#', id: 'learn-more-1-link', class: 'learn-more-link' %>
    </div>
    <div id="learn-more-2" class="learn-more-item">
      <%= link_to image_tag('photo-yellow.png', id: 'learn-more-2-img', class: 'learn-more-img'), '#' %>
      <%= link_to '认识尽美', '#', id: 'learn-more-2-link', class: 'learn-more-link' %>
    </div>
    <div id="learn-more-3" class="learn-more-item">
      <%= link_to image_tag('photo-yellow.png', id: 'learn-more-3-img', class: 'learn-more-img'), '#' %>
      <%= link_to '海马故事', '#', id: 'learn-more-3-link', class: 'learn-more-link' %>
    </div>
    <div id="learn-more-4" class="learn-more-item">
      <%= link_to image_tag('photo-yellow.png', id: 'learn-more-4-img', class: 'learn-more-img'), '#' %>
      <%= link_to '关注我们', '#', id: 'learn-more-4-link', class: 'learn-more-link' %>
    </div>
  </div>
</div>