<div id="static_pages_index" class="page_wrapper">
  <div id="slides">
    <div id="slides-bg">
      <div id="slides-bg-lt"></div>
      <div id="slides-bg-rb"></div>
      <div id="slides-bg-rt"></div>
      <div id="slides-bg-lb"></div>
    </div>
    <div id="slides-arrow-l">
      <%= link_to image_tag('arrow-l.png', id: 'slides-arrow-l-button'), 'javascript: void(0); ' %>
    </div>
    <div id="slides-view">
      <% CoverImage.all.each_with_index do |image, i| %>
        <%= image_tag(image.image.url, id: 'slides-img', class: (i == 0 ? '' : 'hidden')) %>
      <% end %>
    </div>
    <div id="slides-arrow-r">
      <%= link_to image_tag('arrow-r.png', id: 'slides-arrow-r-button'), 'javascript: void(0); ' %>
    </div>
  </div><!-- FIXME ugly I know...
  --><div id="learn-more">
    <div id="learn-more-1" class="learn-more-item">
      <%= link_to image_tag('photo-yellow.png', id: 'learn-more-1-img', class: 'learn-more-img'), under_construction_path %>
      <%= link_to image_tag('learn-more-1.png', id: 'learn-more-1-act', class: 'learn-more-act'), under_construction_path %>
      <%= link_to '关注失智', under_construction_path, id: 'learn-more-1-link', class: 'learn-more-link' %>
    </div>
    <div id="learn-more-2" class="learn-more-item">
      <%= link_to image_tag('photo-yellow.png', id: 'learn-more-2-img', class: 'learn-more-img'), under_construction_path %>
      <%= link_to image_tag('learn-more-2.png', id: 'learn-more-2-act', class: 'learn-more-act'), under_construction_path %>
      <%= link_to '认识尽美', under_construction_path, id: 'learn-more-2-link', class: 'learn-more-link' %>
    </div>
    <div id="learn-more-3" class="learn-more-item">
      <%= link_to image_tag('photo-yellow.png', id: 'learn-more-3-img', class: 'learn-more-img'), under_construction_path %>
      <%= link_to image_tag('learn-more-3.png', id: 'learn-more-3-act', class: 'learn-more-act'), under_construction_path %>
      <%= link_to '海马故事', under_construction_path, id: 'learn-more-3-link', class: 'learn-more-link' %>
    </div>
    <div id="learn-more-4" class="learn-more-item">
      <%= link_to image_tag('photo-yellow.png', id: 'learn-more-4-img', class: 'learn-more-img'), under_construction_path %>
      <%= link_to image_tag('learn-more-4.png', id: 'learn-more-4-act', class: 'learn-more-act'), under_construction_path %>
      <%= link_to '关注我们', under_construction_path, id: 'learn-more-4-link', class: 'learn-more-link' %>
    </div>
  </div>
  <div id="activities">
    <div id="activities-1" class="activities-item">
      <%= link_to image_tag('photo-orange.png', id: 'activities-1-img', class: 'activities-img'), under_construction_path %>
      <%= link_to image_tag('activities-1.png', id: 'activities-1-act', class: 'activities-act'), under_construction_path %>
      <%= link_to '活力58', under_construction_path, id: 'activities-1-link', class: 'activities-link' %>
      <%= link_to '预防', under_construction_path, id: 'activities-1-desc', class: 'activities-desc' %>
    </div>
    <div id="activities-2" class="activities-item">
      <%= link_to image_tag('photo-orange.png', id: 'activities-2-img', class: 'activities-img'), under_construction_path %>
      <%= link_to image_tag('activities-2.png', id: 'activities-2-act', class: 'activities-act'), under_construction_path %>
      <%= link_to '尽美社区行', under_construction_path, id: 'activities-2-link', class: 'activities-link' %>
      <%= link_to '倡导', under_construction_path, id: 'activities-2-desc', class: 'activities-desc' %>
    </div>
    <div id="activities-3" class="activities-item">
      <%= link_to image_tag('photo-orange.png', id: 'activities-3-img', class: 'activities-img'), under_construction_path %>
      <%= link_to image_tag('activities-3.png', id: 'activities-3-act', class: 'activities-act'), under_construction_path %>
      <%= link_to '海马大讲堂', under_construction_path, id: 'activities-3-link', class: 'activities-link' %>
      <%= link_to '培训', under_construction_path, id: 'activities-3-desc', class: 'activities-desc' %>
    </div>
    <div id="activities-4" class="activities-item">
      <%= link_to image_tag('photo-orange.png', id: 'activities-4-img', class: 'activities-img'), under_construction_path %>
      <%= link_to image_tag('activities-4.png', id: 'activities-4-act', class: 'activities-act'), under_construction_path %>
      <%= link_to '照护者家园', under_construction_path, id: 'activities-4-link', class: 'activities-link' %>
      <%= link_to '服务', under_construction_path, id: 'activities-4-desc', class: 'activities-desc' %>
    </div>
  </div>
</div>