<%= render('sidebar') %>

<div id="pages-index-content-container">
  <h1><%= @title %></h1>

  <% if !@pages.empty? %>

    <div id="pages-index-content">
      <% @pages.each_with_index do |page, i| %>
        <% if i % 2 == 0 %>
        <div class="pages-index-entry">
        <% else %>
        <div class="pages-index-entry-alt">
        <% end %>
          <div class="pages-index-entry-left">
              <h2><%= link_to page.short_title, page_path(page) %></h2>
              <p><%= link_to page.summary, page_path(page) %></p>
              <% if logged_in_as_admin? %>
                <%= link_to '删除', page_path(page), method: :delete, confirm: '您真的要删除 "' + page.title + '" 吗？', class: 'action' %>
                <%= link_to '编辑', edit_page_path(page), class: 'action' %>
              <% end %>
          </div>
          <div class="pages-index-entry-right">
            <div class="pages-index-entry-right-bg-lt"></div>
            <div class="pages-index-entry-right-bg-rb"></div>
            <div class="pages-index-entry-right-bg-rt"></div>
            <div class="pages-index-entry-right-bg-lb"></div>
            <div class="pages-index-entry-right-bg-wrap"></div>
            <% if page.feature_image %>
              <%= link_to image_tag(page.feature_image, class: 'pages-index-entry-right-img'), page_path(page) %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

  <% else %>

    <p class="pages-index-no-entry">该分类暂时无文章</p>

  <% end %>

</div>