<div id="sidebar-container">
  <h1>其他板块</h1>
  <div id="sidebar">
    <div id="sidebar-activities-1" class="sidebar-activities-item">
      <%= link_to image_tag('photo-orange.png', id: 'sidebar-activities-1-img', class: 'sidebar-activities-img'), under_construction_path %>
      <%= link_to image_tag('activities-1.png', id: 'sidebar-activities-1-act', class: 'sidebar-activities-act'), under_construction_path %>
      <%= link_to '活力58', under_construction_path, id: 'sidebar-activities-1-link', class: 'sidebar-activities-link' %>
    </div>
    <div id="sidebar-activities-2" class="sidebar-activities-item">
      <%= link_to image_tag('photo-orange.png', id: 'sidebar-activities-2-img', class: 'sidebar-activities-img'), under_construction_path %>
      <%= link_to image_tag('activities-2.png', id: 'sidebar-activities-2-act', class: 'sidebar-activities-act'), under_construction_path %>
      <%= link_to '尽美社区行', under_construction_path, id: 'sidebar-activities-2-link', class: 'sidebar-activities-link' %>
    </div>
    <div id="sidebar-activities-3" class="sidebar-activities-item">
      <%= link_to image_tag('photo-orange.png', id: 'sidebar-activities-3-img', class: 'sidebar-activities-img'), under_construction_path %>
      <%= link_to image_tag('activities-3.png', id: 'sidebar-activities-3-act', class: 'sidebar-activities-act'), under_construction_path %>
      <%= link_to '海马大讲堂', under_construction_path, id: 'sidebar-activities-3-link', class: 'sidebar-activities-link' %>
    </div>
    <div id="sidebar-activities-4" class="sidebar-activities-item">
      <%= link_to image_tag('photo-orange.png', id: 'sidebar-activities-4-img', class: 'sidebar-activities-img'), under_construction_path %>
      <%= link_to image_tag('activities-4.png', id: 'sidebar-activities-4-act', class: 'sidebar-activities-act'), under_construction_path %>
      <%= link_to '照护者家园', under_construction_path, id: 'sidebar-activities-4-link', class: 'sidebar-activities-link' %>
    </div>
  </div>
</div>