<!DOCTYPE html>
<html>
<head>
  <title>上海尽美长者服务中心<%= @title ? " - #{@title}" : '' %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= "#{params[:controller]}_#{params[:action]}" %>">

<div class="container">
  <%= image_tag('logo.png', id: 'logo') %>

  <div id="main">
    <div id="navbar">
      <div id="nav-bg-wrapper">
        <div class="nav-bg" id="nav-bg-1"></div>
        <div class="nav-bg" id="nav-bg-2"></div>
        <div class="nav-bg" id="nav-bg-3"></div>
      </div>
      <div id="nav-items-wrapper">
        <table id="nav-items">
          <tr>
            <td class="nav-item-cell"><%= link_to '首页 ▾', root_url %></td>
            <td class="nav-item-cell"><%= link_to '活力58 ▾', under_construction_url %></td>
            <td class="nav-item-cell"><%= link_to '尽美社区行 ▾', under_construction_url %></td>
            <td class="nav-item-cell"><%= link_to '海马大讲堂 ▾', under_construction_url %></td>
            <td class="nav-item-cell"><%= link_to '照护者家园 ▾', under_construction_url %></td>
          </tr>
        </table>
      </div>
    </div>

    <div id="content">
      <%= yield %>
    </div>

    <div id="joinus">
      <div id="joinus-bg"></div>
      <div id="joinus-content">
        <%= image_tag('joinus-person.png', id: 'joinus-person', alt: '加入我们') %>
        <div class="joinus-item f-left" id="joinus-iam">
          欢迎您，
          <% if user_signed_in? %>
            <%= current_user.email.split('@')[0] %>
            （<%= link_to '登出', destroy_user_session_path, method: :delete %>）
          <% else %>
            游客（<%= link_to '注册', new_user_registration_path %>，<%= link_to '登录', new_user_session_path %>）
          <% end %>
        </div>
        <div class="joinus-item f-right"><%= link_to '活力58人', under_construction_url %></div>
        <div class="joinus-item f-right"><%= link_to '失智照护者', under_construction_url %></div>
        <div class="joinus-item f-right"><%= link_to '海马志愿者', under_construction_url %></div>
      </div>
    </div>
  </div>

  <div id="copyright">
    <p id="copyright-p">Copyright 2013-2014 Jinmei Care</p>
  </div>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</div>

</body>
</html>
